<div class="container">
  <app-list [toDos]="toDos" (realizado)="realizado($event)" (eliminar)="eliminar($event)"></app-list>
  <app-to-do-form *ngIf="show" (agregar)="agregar($event)"></app-to-do-form>
  <div class="row my-3">
    <div class="col-md-12">
      <button type="button" class="btn btn-outline-danger btn-block" (click)="showInput()">
        Mostrar
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</div>