<form #f="ngForm" class="row my-3" (ngSubmit)="f.form.valid && onAgregar(f)" novalidate>
  <div class="col-md-9">
    <input appUpper type="text" class="form-control" name="descripcion" [(ngModel)]="model.descripcion" #descripcion="ngModel" required/>
    <p *ngIf="f.submitted && !descripcion.valid" class="text-danger">La descripcion es requerida</p>
  </div>
  <div class="col-md-1">
    <input appNumero type="text" class="form-control" name="hora" [(ngModel)]="model.hora" #hora="ngModel" required />
    <p *ngIf="f.submitted && !hora.valid" class="text-danger">La hora es requerida</p>
  </div>
  <div class="col-md-2">
    <button type="submit" class="btn btn-outline-primary btn-block">
      Guardar
      <i class="fas fa-check"></i>
    </button>
    <!--
    <a class="mx-2" (click)="agregar()">
      <i class="fas fa-check"></i>
    </a>
    <a class="mx-2">
      <i class="fas fa-times"></i>
    </a>
    -->
  </div>
</form>