<div class="row my-3" *ngFor="let item of toDos; let i = index;">
  <div class="col-md-8" [ngClass]="{'text-success':item.feRealizado}">
    <p>{{(i+1) + ' ' + item.descripcion}}</p>
  </div>
  <div class="col-md-1">
    <p>{{item.hora}}</p>
  </div>
  <div class="col-md-1">
    <p>{{item.feRealizado | date:'dd/MM/yyyy HH:mm'}}</p>
  </div>
  <div class="col-md-2">
    <a class="mx-2" (click)="onRealizado(i)">
      <i class="fas fa-check"></i>
    </a>
    <a class="mx-2" (click)="onEliminar(i)">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>